

h1 {
    color: #fff;
    margin-left: 20px;
}

h1.initialize {
	color: black;
}

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
} 

div#card{
  width: 150px;
  height: 100px;
  margin: 24px 0;
  padding: 16px
}

p {
	padding-left: 30px;
}